{% import 'email/macro.twig' as email %}

{% extends 'email/template.twig' %}

{% block subject %}RGUHack Confirmation{% endblock %}

{% block title %}Let us know you're coming!{% endblock %}

{% block content %}

<tr>
    <td style="padding: 10px; font-size: 16px">
        Hello {{ first_name }} {{ last_name }},<br /><br/>
        To confirm that you'll be attending RGUHack we will need you to do so at the following website:
    </td>
</tr>

{{ email.link("http://www.rguhack.uk/confirm/" ~ token, "RGUHack Confirmation") }}

<tr>
    <td style="padding: 10px; font-size: 16px">
        You will only be able to attend and participate if you complete the confirmation.<br /><br />
        See you soon,<br />
        RGUHack Team
    </td>
</tr>

{% endblock %}
