{% macro link(url, title) %}
<tr>
    <td style="padding: 10px;">
        <a class="btn" href="{{ url }}" style="background-color: #3C8DBC; color: #ffffff; border-radius: 5px; display: block; padding: 10px; text-align: center; text-decoration:none;">
            {{ title }}
        </a>
    </td>
</tr>
{% endmacro %}

