{% import 'email/macro.twig' as email %}

{% extends 'email/template.twig' %}

{% block subject %}RGUHack Registration{% endblock %}

{% block title %}Thanks for registering!{% endblock %}

{% block content %}

<tr>
    <td style="padding: 10px; font-size: 16px">
        Hello {{ first_name }} {{ last_name }},<br /><br/>
        Thank you for registering your interest in RGUHack.<br />
        We are in the process of getting an official portal setup for the event.<br />
        You will receive an email to confirm that you will be attending RGUHack very soon<br />
        If you have any queries in the meantime you can email us:
    </td>
</tr>

{{ email.link("mailto:info@rguhack.uk", "RGUHack Team") }}

<tr>
    <td style="padding: 10px; font-size: 16px">
        See you soon,<br />
        RGUHack Team
    </td>
</tr>

{% endblock %}

