<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>RGUHack Registration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
body {
  font-family: Arial, sans-serif;
}
    </style>
  </head>
  <body>
    Hello {{ first_name }} {{ last_name }},<br /><br/>
    Thank you for registering your interest in RGUHack.<br />
    We are in the process of getting an official portal setup where you can obtain your tickets for the event.<br />
    We will email you when this is ready, but if you have any queries in the meantime you can email the <a href="mailto:info@rguhack.uk">RGUHack Team</a>.<br /><br />
    See you soon,<br />
    RGUHack Team
  </body>
</html>

