{% extends 'email/template.twig' %}

{% block subject %}Ticket for RGUHack{% endblock %}

{% block title %}You're going to RGUHack!{% endblock %}

{% block content %}

    <tr>
        <td style="padding: 10px; font-size: 16px;">
            Hello {{ first_name }} {{ last_name }},<br /><br />
            Below we've attached your ticket that you'll need for the event.<br />
            Either print this off or take it along with you on your phone!<br />
        </td>
    </tr>
    <tr>
        <td style="padding: 10px; font-size: 18px; text-align: center;">
            <img src="{{ qr_code }}" /><br />
            {{ code }}<br />
        </td>
    </tr>
    <tr>
        <td style="padding: 10px font-size: 16px;">
            See you soon hacker!<br /><br />
            RGUHack Team
        </td>
    </tr>

{% endblock %}
