<section id="register" class="rguhack-register-color info-section">
    <div class="container">
    <h2 class="white-text center-align">Register Interest</h2>
    <h5 class="white-text center-align">Are you a student up for a challenge?</h5>

    <p class="white-text center-align">
    Why not come along to RGUHack and fight your way through 24 hours of hacking?<br />
    Register your interest in participating in the event using the form below.<br />
    <b>Note:</b> Submitting this form does not guarantee you a place at RGUHack 2017.<br />
    </p>

    <div class="row">
        <form class="col s12" action="/register" method="post">
        <div class="row">
            <div class="input-field col s12 m6">
            <input class="validate" type="text" name="first_name" required>
            <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 m6">
            <input class="validate" type="text" name="last_name">
            <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
            <input class="validate" type="text" name="place_study">
            <label for="place_study">College / University</label>
            </div>
            <div class="input-field col s12 m6">
            <input class="validate" type="email" name="email" required>
            <label for="email">Email Address</label>
            </div>
        </div>
        <div class="row center-align">
            <button type="submit" class="waves-effect waves-light btn">Submit</a>
        </div>
        </form>
    </div>
    </div>
</section>