<section id="sponsors" class="info-section">
    <div class="container">
    <h2 class="center-align">Sponsors</h2>

    {# Since we do not have sponors yet, we shall hide this section

    <p class="center-align">
    We would like to give a huge thank you to our sponsors making RGUHack 2018 possible.
    </p>

    <div class="center-align sponsor delta">
    </div>

    <div class="center-align sponsor beta">
    </div>

    <div class="center-align sponsor alpha">
    </div>

    #}

    <p class="center-align">
    If you would like to be a sponsor of RGUHack 2018, leave your details below and a member of the RGUHack team will be in touch.<br />
    </p>

    <div class="row">
        <form class="col s12" action="/sponsor" method="POST">
        <div class="row">
            <div class="input-field col s12 m6">
            <input class="validate" type="text" name="first_name" required>
            <label for="first_name">First Name</label>
            </div>
            <div class="input-field col s12 m6">
            <input class="validate" type="text" name="last_name">
            <label for="last_name">Last Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
            <input class="validate" type="text" name"job_title">
            <label for="job_title">Job Title</label>
            </div>
            <div class="input-field col s12 m6">
            <input class="validate" type="text" name="company_name" required>
            <label for="company_name">Company Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 m6">
            <input class="validate" type="email" name="email" required>
            <label for="email">Email Address</label>
            </div>
            <div class="input-field col s12 m6">
            <input class="validate" type="tel" name="telephone">
            <label for="telephone">Telephone Number</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
            <input class="validate" type="url" name="website">
            <label for="website">Website URL</label>
            </div>
        </div>
        <div class="row center-align">
            <button type="submit" class="waves-effect waves-light btn">Submit</a>
        </div>
        </form>
    </div>
    </div>
</section>
